/* Hero */

.gms-hero {
    color: white !important;
    padding: 0px;
    padding-top: 100px;
    background: url('../img/GMS/gms.jpg');
    background-size: 100% 100%;
    background-position: top left;
    height: 550px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.contenido-hero{
    padding: 30px;
    padding-right: 45%;
    font-size: 85%;
    background-color: rgba($primary, 0.85);
}

/* Objetivos */

.objetivo {
    display: flex;
    flex-direction: row;
}

.obj-desc {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center;
    max-width: 50%;
    padding: 50px;
}

.obj-secciones {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
}

.obj-seccion {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 85%;
}

.seccion-titulo {
    width: 270px;
    padding: 20px;
    padding-right: 35px;
    display:flex;
    justify-content:flex-end;
    align-items:flex-start;
    text-align:right;
    border-bottom: 1px solid white;
}

.obj-seccion:last-child .seccion-titulo {
    border-bottom: none;
}

.seccion-lista {
    padding: 20px;
    padding-left: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid $dark;
    width: 50%;
}

.seccion-lista.importancia {
    border-bottom: none!important;
    width: 80%!important;
}

.seccion-lista ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.seccion-lista li {
    padding-left: 1em;
    text-indent: -.5em;
}

.seccion-lista li:before {
    content: "•";
    color: $primary;
}

.obj-seccion:last-child .seccion-lista {
    border-bottom: none !important;
}

.seccion-img {
    border-bottom: 1px solid $dark;
}

.obj-seccion:last-child .seccion-img {
    border-bottom: none;
}

.img-obj {
    top: 25%;
    width: 48px;
    height: 48px;
    position: relative;
    left: -24px;
}

.seccion-titulo {
    color: white !important;
}

/* Consejo */

.consejo, .consejo *{
    color:white!important;
}

.consejo{
    padding-bottom: 150px;
}

.consejo-img{
    width: 85%;
}

.consejo-carousel {
    padding-left: 40px;
    padding-right: 40px;
}

.consejo-carousel #consejoCarousel{
    position: relative;
    top: -75px;
}