/* Custom items */

.pre-nav{
    display:flex;
    flex-direction: row;
    padding: 15px!important;
    justify-content:space-between;
    align-items: center;
}

@media (min-width: 1200px) {
    .max-bg-img-width {
        background-size: 1200px 100%!important;
        background-position: center center!important;
        background-repeat:no-repeat!important;
    }
}

.thick-ruler{
    width:100%important;
    height:10px;
    margin-bottom:10px;
    background: $primary;
}

.small-ruler
{
    display:flex;
    justify-content:center;
    align-content:center;
    flex-direction:row;
}

.small-ruler div{
    width: 32px;;
    height: 4px;
    margin-bottom: 5px;
    background: $primary;
}

/* Header and navbar */

a
{
    transition: 0.35s!important;
    text-decoration: none;
    text-transform:uppercase;
    font-size: 90%;
}

.no-text-transform {
    text-transform: none!important;
}

a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 15px rgba(98, 125, 127, 0.55);
}

.navbar-expand-lg .navbar-nav {
    width: 100%;
    color: $dark !important;
    justify-content: space-evenly;
}

.navbar-expand-lg .navbar-collapse
{
    justify-content: space-evenly;
}

.navbar-collapse, .navbar-collapse *{
    color: $cost_black!important;
}

body{
    color: $cost_black;
}

.navbar-toggler {
    color: $cost_black !important;
    border-color: $cost_black !important;
}

.navbar {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

/* Carousel */

.carousel-indicators > li {
    border-radius: 50%;
    width: 15px !important;
    height: 15px !important;
    background: white;
}

.carousel-indicators > li.active {
    background: $primary!important;
}

.carousel-caption {
    align-items: center;
    height: 100%;
    display: flex !important;
    justify-content: center;
    flex-direction: column;
    color:white;
}

.carousel-caption * {
    text-transform: uppercase;
    color: white !important;
    /*text-shadow: 0px 0px 5px $primary;*/
}

/* Historias exito */

.historias-exito {
    padding-right: 25%;
    padding-left: 25%;
    padding-top: 120px;
    padding-bottom: 50px;
    color: white;
    width: 100%;
    min-height: 300px;
    background: url(../img/historias_exito.jpg);
    background-size:100% 100%;
    background-position: top left;
}

.italic{
    font-style: italic!important;
}

.cost-sub
{
    margin: 2px;
    text-transform:uppercase;
    font-size:85%;
    font-weight:bold;
    display:block;
    color: white;
}

/* Mision Vision */

.mi-vi {
    padding-top: 60px;
    padding-bottom: 60px;
    color: white;
    width: 100%;
    min-height: 300px;
    margin:0px!important;
    /*background: url(../img/SLIDE/slide1@2x.png);
    background-size: 100% 100%;
    background-position: top left;*/
}

.mivi-item {
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mivi-item p
{
    font-size:80%!important;
    text-align:justify;
}

/* GMS */

.gms {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
}

.gms-row {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-evenly;
    align-content:stretch;
}

.gms img
{
    width:129px;
    border: none!important;
}

/* Bullets */

.bullets {
    padding-top: 40px;
    padding-bottom: 40px;
}

.bullets-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top:20px;
}

.bullet {
    list-style: none;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    color: $dark !important;
    border: 10px solid white !important;
    box-shadow: 0px 0px 15px $secondary;
}

.bullet a {
    position: relative;
    left: 10px;
    bottom: -30px;
    width: 90%;
    display: block;
    color: $dark;
}

.bullet:hover, .bullet:hover a {
    color: $cost_black !important;
}

.bullet-a {
    background: $warning;
}

.bullet-b{
    background: $danger;
}

.bullet-a:before {
    content: '';
    background: url('../img/front-page/bullets/a.png');
    width: 80px;
    height: 80px;
    display: block;
    background-size: 100% 100%;
    left: 50px;
    position: relative;
    top: 20px;
}

.bullet-b:before {
    content: '';
    background: url('../img/front-page/bullets/b.png');
    width: 80px;
    height: 80px;
    display: block;
    background-size: 100% 100%;
    left: 50px;
    position: relative;
    top: 20px;
}

/* Footer */

.footer-map {
    background: url('../img/front-page/footer/fondomap.png');
    background-size: 100% 100%;
    background-position: top left;
    background-repeat: no-repeat;
    padding: 40px;
}

.COsTNivelMundial {
    position: relative;
    top: -40px;
}

footer {
    color: white;
    background: #495f5f; /* Old browsers */
    background: -moz-linear-gradient(left, #495f5f 50%, #809b9b 51%);
    background: -webkit-linear-gradient(left, #495f5f 50%,#809b9b 51%);
    background: linear-gradient(left right, #495f5f 50%,#809b9b 51%);
    font-size: 80%;
}

.cost-social-link {
    background: white;
    padding: 4px;
    font-size: 1.75em;
    margin: 8px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.COsTNivelMundial h3{
    margin-left:30px;
    margin-top:20px;
}

/* Contacto */

.contacto {
    padding-top: 40px;
    padding-bottom: 20px;
    background: url('../img/front-page/contactanos/textura.png'), url('../img/front-page/contactanos/imagcontactanos.png');
    background-size: 50% 100%, 50% 100%;
    background-position: top left, top right;
    background-repeat: no-repeat;
}

.contacto .form-control {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Alianzas */

.alianzas-a, .alianzas-b{
    width: 45%;
}

.alianzas-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
}

.alianzas-container img{
    width: 400px;
}

/* Eventos */

.events-list {
    max-height: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.events-list article {
    max-width: 40%;
    min-width: 40%;
    max-height: 300px;
    min-height: 300px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

.events-list article .event-image {
    width: 40%;
    position: relative;
    background-color: transparent; /* $primary; */
}

/*.events-list article .event-image img {
    width: 100% !important;
    height: 50%;
    border: none;
}*/

.events-list article .informacion-entrada {
    width: 60%;
    font-size: 85%!important;
    padding:10px;
}

.events-list article .informacion-entrada .contenido-entrada *{
    font-size: 85% !important;
}

.events-list article .informacion-entrada .post-title {
    margin-bottom:2px;
    font-size:1.15em!important;
    text-transform:capitalize;
}

.events-list article .informacion-entrada autor * {
    margin-bottom: 10px;
    font-size: 80%!important;
    text-transform: capitalize;
}

.event-image .the-date {
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    left: 5px;
    width: 30%;
    bottom: calc(50% + 5px);
    z-index: 50;
}

article .event-image .item-hover {
    background: url(../img/iconomas.png);
    transition: .35s !important;
    background-size: 24px 24px;
    background-position: center center;
    opacity: 0;
    width: 100%;
    height: 50%;
    position: relative;
    top: -50%;
    background-color: $primary;
    background-repeat: no-repeat;
}

.no-pic {
    background: white !important;
    border: none !important;
    width: 100% !important;
    min-height: 50% !important;
    max-height: 50% !important;
    height: 50% !important;
    border: none;
}

article .event-image img {
    max-width: 100% !important;
    min-height: 50% !important;
    max-height: 50% !important;
    height: 50% !important;
    width: auto !important;
    border: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

article:hover .event-image .item-hover {
    opacity: 0.55;
}

article:hover {
    cursor:pointer!important;
}

.the-date .the-day {
    font-size: 1.75em;
}


/* Paginacion */
.events-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.events-pagination .page-numbers {
    margin: 4px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    color: white !important;
    background: $primary;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.events-pagination .page-numbers.current {
    margin: 4px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    color: $primary !important;
    background: transparent!important;
    border: 1px solid $primary;
    box-shadow: none!important;
}

.events-pagination .page-numbers:hover {
    box-shadow: 0px 0px 15px $secondary;
}

.nav-item .dropdown *{
    font-size: 90%!important;
}