.dropdown-menu.show{
    border-radius: 0px;
    padding: 0px!important;
}

.dropdown-menu.show li a{
    padding: 5px 10px!important;
    display:block;
}

.dropdown-menu.show li {
    padding: 0px!important;
}

.dropdown-menu.show li a:hover{
    background: $primary;
    color: white!important;
    cursor:pointer;
}

.dropdown-menu.show li a:hover a{
    color: white!important;
}

.contenedor-pdf{
    width: 100%;
    display:flex;
    justify-content:space-around;
}

.evento-img{
    background: $success;
    padding: 25px;
}

.evento-img img{
    width: 100%!important;
    height: 100%!important;
}

.single-header {
    width: 100%;
    height: 250px;
    background-repeat: no-repeat !important;
    background-position: top left !important;
    background-size: 100% 100% !important;
}

.single-header.eventos {
    background: url('../img/eventos/eventos.jpg');
}


.single-name {
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items:center;
    padding: 20px;
    color: white!important;
    background: $primary!important;
}

.single-name h1{
    max-width:75%;
    text-transform:uppercase;
}