.qs-titulo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    background-position: top left !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
}

.qs-div {
    width: 50%;
    padding: 45px;
    color: white !important;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: justify!important;
}

.qs-div img{
    width: 80px;
    height: 80px;
}

.aseguramiento-links *{
    color: white!important;
}

.qs-titulo.aseguramiento {
    background: url('../img/quienes_somos/aseguramiento/imag_aseguramiento.png');
}

.qs-titulo.aseguramiento .qs-div {
    background: rgba($warning, 0.8);
}

.qs-titulo.divulgacion {
    background: url('../img/quienes_somos/divulgacion/imag_divulgacion.png');
}

.qs-titulo.buenas-practicas {
    background: url('../img/buenas_practicas/imag_buenas_practicas.png');
}

.qs-titulo.divulgacion .qs-div {
    background: rgba($primary, 0.8);
}

.qs-titulo.demanda {
    background: url('../img/quienes_somos/demanda/imag_demanda.png');
}

.qs-titulo.demanda .qs-div {
    background: rgba($dark, 0.8);
}